<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Landing Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
</head>
<body>



  <div class="header">
    <h1>Welcome To Postmate</h1>
    <p>Where connections are made, and distances are bridged.</p>
    <div class="welcome-button">
      <a href="/register">
        <button  class="get-started-button">Get Started</button>
      </a>
     
    </div>
    
  </div>

  <div class="content">
    <div class="card">
      <img src="https://source.unsplash.com/400x300/?discover" alt="Nature">
      <div class="card-content">
        <h2>Discover Something Exciting </h2>
        <p>Explore a world of possibilities and discover something that sparks your interest.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/400x300/?technology" alt="Technology">
      <div class="card-content">
        <h2>Connect with Like-Minded People</h2>
        <p>Join a vibrant community of individuals who share your passions and interests.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/400x300/?work" alt="Travel">
      <div class="card-content">
        <h2>Unlock Your Potential With Postmate</h2>
        <p>With Postmate, the possibilities are endless. Let's embark on this journey together.</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>&copy; 2024 Best Landing Page. All rights reserved.</p>
  </div>
</body>
</html>
